
/* imdex.css */


* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

:root {
	--color1 : #131921;
	--color2: #232f3e;
	--color3: black;
	--color4: white;
}

body {
	min-width: 1000px;
	height: 100vh;
}

#amazon101 {
	width: 100%;
	height: 100%;
}

#amazon-nav {
	display: flex;
	background-color: var(--color1);
	color: var(--color4);
	height: 3rem;
	justify-content: space-evenly;
	align-items: center;
	gap: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#amazon-nav #midbar {
	flex-grow: 1;
}

#amazon-nav #midbar input {
	flex-grow: 1;
	height: 100%;
	padding-left: .5rem;
}


#amazon-nav #midbar select {
	height: 100%;
}


#amazon-nav #midbar svg {
	padding: .5rem;
	background-color: rgb(193, 146, 16);
}


.nav-child {
	border: 1px solid var(--color1);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .5rem;
	
}


.nav-child:hover {
	border: 1px solid var(--color4);
}


#sign-in {
	flex-direction: column;
	position: relative;
}


#sign-in-pop {
	display: none;
	position: absolute;
	z-index: 5;
	top: 2.9rem;
	width: 10rem;
	height: 20rem;
	background-color: var(--color4);
	border: 1px solid var(--color1);
	color: black;
}


#optionbar {
	background-color: var(--color2);
	display: flex;
	height: 2rem;
	gap: .5rem;
	align-items: center;
	padding: 1rem;
}

.oplink {
	
	text-decoration: none;
	color: var(--color4);
	border: 1px solid var(--color2);
	height: 2rem;
	display: flex;
	align-items: center;
	padding-left: .5rem;
	padding-right: .5rem;
}

.oplink:hover {
	border: 1px solid var(--color4);
}

.slide-product {
	position: relative;
	height: 15rem;
	background-size: cover;
}

#img1 {
	background-image: url(../images/shop_image1.jpg);
}

#img2 {
	background-image: url(../images/shop_image2.jpg);
}

#img3 {
	background-image: url(../images/shop_image3.jpg);
}

#img4 {
	background-image: url(../images/shop_image4.jpg);
}

.slide-product #left-button {
	position: absolute;
	top: 10%;
	left: 1rem;
	width: 3rem;
	height: 80%;
	background-color: rgb(255, 255, 255, .5);
}

.slide-product #right-button {
	position: absolute;
	top: 10%;
	right: 1rem;
	width: 3rem;
	height: 80%;
	background-color: rgb(255, 255, 255, .5);
}

.dev {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 30rem;
	gap: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.dev-child {
	display: flex;
	flex-direction: column;
	padding: .5rem;
}

.dev-grand-child {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: .5rem;
}

.dev-photo-1 {
	background-image: url(../images/product_1.jpg);
	height: 80%;
	background-size: cover;
}

.dev-photo-2 {
	height: 80%;
	background-image: url(../images/product_2.jpg);
	background-size: cover;
}

.dev-photo-3 {
	height: 80%;
	background-image: url(../images/product_3.jpg);
	background-size: cover;
}

.dev-photo-4 {
	height: 80%;
	background-image: url(../images/product_4.jpg);
	background-size: cover;
}

.scroll-product {
	height: 14rem;
	
}

.scrollpro-child {
	display: flex;
	overflow-x: auto;
	height: 12rem;
}

.scroll-child {
	min-width: 12rem;
	background-image: url(../images/scroll-child-1.jpg);
	background-size: cover;
}

#back-to-top {
	background-color: var(--color2);
	height: 2rem;
}

.footer {
	background-color: var(--color1);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: (2, 1fr);
	height: 10rem;
	color: var(--color4);
}

/****************** Small  ******************************/

@media   (max-width: 999px) {
	body {
		min-width: 100%;
	}

	html {
		font-size: 2vw;
	}
}



