
/* imdex.css */


* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	box-sizing: border-box;
}

html {
	font-size: 18px;
	height: 100vh;
	width: 100vw;

}

:root {
	--color1 : #131921;
	--color2: #232f3e;
	--color3: black;
	--color4: white;
}

body {
	width: 100%;
	height: 100vh;
	min-width: 250px;
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

#amazon101 {
	width: 100%;
	height: 100%;
}

.links {
	padding: .5rem;
	margin: .5rem;
}

.links:hover {
	background-color: rgb(210, 211, 212);
	cursor: pointer;
	
}

/* ######################## nav ##################################################### */

#amazon-nav {
	display: flex;
	background-color: var(--color1);
	color: var(--color4);
	justify-content: space-evenly;
	align-items: center;
	gap: .5rem;
	padding: .5rem;
	flex-wrap: wrap;
}

#amazon-nav #midbar {
	flex-grow: 1;
	max-width: 100%;
	display: flex;
	overflow: hidden;
}

#amazon-nav #midbar input {
	height: 100%;
	
	flex-grow: 1;
	padding-left: .5rem;
}


#amazon-nav #midbar select {
	height: 100%;
	
}

#amazon-nav #midbar button {
	height: 100%;
	background-color: rgb(193, 146, 16);
	width: 2rem;
	
}


.nav-child {
	border: 1px solid var(--color1);
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .2rem;
}


.nav-child:hover {
	border: 1px solid var(--color4);
}


#sign-in {
	
	position: relative;
}


#sign-in-pop {
	display: none;
	position: absolute;
	z-index: 5;
	top: 2.5rem;
	width: 10rem;
	height: 20rem;
	background-color: var(--color4);
	border: 1px solid var(--color1);
	color: black;
}

/* ###################################### option bar ############################### */

#optionbar {
	display: flex;
	background-color: var(--color2);
	color: var(--color4);
	height: 2.5rem;
	position: relative;
	overflow: auto;
	align-items: center;

}

@keyframes anim1 {
	from { transform: translateX(-30rem); }
	to { transform: translateX(0); }
}

@keyframes anim2 {
	from { transform: translateX(0); }
	to { transform: translateX(-30rem); }
}

@keyframes left-swap {
	from { transform: translateX(0%); }
	to { transform: translateX(-50%); }
}

@keyframes right-swap {
	from { transform: translateX(-50%); }
	to { transform: translateX(0%); }
}

h2 {
	color: black;
}

#slidein {
	position: relative;
	animation: anim1 0.3s  forwards;
	width: 30rem
	
}

#left-slide {
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgb( 0, 0, 0, .5 );
	width: 100vw;
	height: 100vh;
	display: none;

}

#left-swap .links:hover {
	background-color: rgb(220, 221, 222);
}

.oplink {
	
	text-decoration: none;
	color: var(--color4);
	border: 1px solid var(--color2);
	height: 2rem;
	display: flex;
	align-items: center;
	padding-left: .5rem;
	padding-right: .5rem;
}

.oplink:hover {
	border: 1px solid var(--color4);
}

/* ################################  slide product ################################# */

.slide-product {
	position: relative;
	height: 15rem;
	background-size: cover;
	background-position: top;
}



#img1 {
	background-image: url(../images/shop_image1.jpg);
}

#img2 {
	background-image: url(../images/shop_image2.jpg);
}

#img3 {
	background-image: url(../images/shop_image3.jpg);
}

#img4 {
	background-image: url(../images/shop_image4.jpg);
}

.slide-product #left-button {
	position: absolute;
	top: 10%;
	left: 1rem;
	width: 3rem;
	height: 80%;
	background-color: rgb(255, 255, 255, .5);
}

.slide-product #right-button {
	position: absolute;
	top: 10%;
	right: 1rem;
	width: 3rem;
	height: 80%;
	background-color: rgb(255, 255, 255, .5);
}

/* ########################################  Dev  ####################################### */

.dev {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	height: 40rem;
	gap: .5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: .5rem;
	padding-right: .5rem;
}

.dev-child {
	display: flex;
	flex-direction: column;
	padding: .5rem;
	box-shadow: 1px 1px 1px 1px rgb(0, 0, 0, 0.25), 3px 3px 3px 3px rgb(0, 0, 0, 0.2);
}

.dev-grand-child {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: .5rem;
}

.dev-photo-1 {
	background-image: url(../images/product_1.jpg);
	height: 80%;
	background-size: cover;
}

.dev-photo-2 {
	height: 80%;
	background-image: url(../images/product_2.jpg);
	background-size: cover;
}

.dev-photo-3 {
	height: 80%;
	background-image: url(../images/product_3.jpg);
	background-size: cover;
}

.dev-photo-4 {
	height: 80%;
	background-image: url(../images/product_4.jpg);
	background-size: cover;
}

/* #######################################  scroll product ############################# */

.scroll-product {
	height: 14rem;
	
}

.scrollpro-child {
	display: flex;
	overflow-x: auto;
	height: 12rem;
}

.scroll-child {
	min-width: 12rem;
	background-image: url(../images/scroll-child-1.jpg);
	background-size: cover;
	margin-right: .5rem;
}

.scroll-child:hover {
	background-color: rgb(218, 215, 215);
	cursor: pointer;
}


/* #################################   footer  ########################################## */

#back-to-top {
	background-color: var(--color2);
	height: 2rem;
}

.footer {
	background-color: var(--color1);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: (2, 1fr);
	gap: 1rem;
	color: var(--color4);
	padding: 1rem;
}

.footer-pro {
	color: white; 
	background-color: var(--color1); 
	display: grid; 
	grid-template-columns:  repeat(5, 1fr);
	padding-left: 1rem;
	padding-right: 1rem;
	gap: 1rem;
}

.footer-extra {
	display: block;
}

/******************  tablet  ******************************/

@media screen and (max-width: 1000px) and (min-width: 500px) {
	html {
		font-size: 15px;
	}

	.dev {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		height: 60rem;
		
	}

	#slidein {
		width: 20rem;
	}


}


/*******************  mobile ******************************/

@media screen and ( max-width: 500px ) {
	html {
		font-size: 12px;
	}

	
	.dev {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
		height: 120rem;
	}

	.footer {
		grid-template-columns: repeat(3, 1fr);
	}

	.footer-pro {
		grid-template-columns: repeat(3, 1fr);
	}

		
	.footer-extra {
		display: none;
	}

	#slidein {
		width: 18rem;
	}


}

@media  screen and (max-width: 299px) {
	#amazon-nav #midbar input {
		max-width: 60%;
	}
	#amazon-nav #midbar select {
		width: 20%;
	}
	#amazon-nav #midbar button {
		width: 20%;
	}
}


