
/* #00152d #002e54 */

.chatty {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    background-color: yellow;
}
.chatty #opbar {
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow: hidden;
    background-color: #00152d;
}

.chatty #leftbar {
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow: hidden;
    background-color:#00152d;
}



.chatty #rightbar {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    flex-grow: 1;
    background-color: #002e54;
    
}

#rightbar #message-body {
    border: 1px solid white;
    
}

#rightbar #header {
    height: 100px;
    border: 1px solid white;
}

#leftbar button.active {
    background-color: aqua;
}

#leftbar button.inactive {
    background-color: blue;
}

.chatty #message-body {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chatty #message-body .received {
    margin-right: auto;
    background-color: rgb(14, 0, 209);
    margin: 5px;
    padding: 5px;
    margin-right: auto;
    max-width: 50%;
    border-radius: 10px;
}

.chatty #message-body .sent {
    border-radius: 10px;
    background-color: rgb(181, 0, 0);
    margin: 5px;
    padding: 5px;
    max-width: 50%;
    margin-left: auto;
}

.chatty button.online-active {
    background-color: rgb(102, 237, 81);

}

.chatty button.online-inactive {
    background-color: rgb(24, 169, 67);
    
}

